*{
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    scrollbar-width: none;
}
.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 6);
    background-color: black;
    color: white;
    overflow: hidden;
}
#nav{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 20px;
}
.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #66FF00;
    transition: width .3s;
}
.link:hover::after{
    width: 100%;
    transition: width .3s;
}
#logo{
    position: absolute;
    left: 30px;
    font-size: 30px;
}
#logo::first-letter{
    color: #66FF00;
}
.primaryBtn{
    padding: 15px 20px;
    font-size: 20px;
    margin-right: 20px;
    border-style: none;
    border-radius: 25px;
    background-image: linear-gradient(130deg, #4FFFB0, #66FF00);
}
.primaryBtn:hover{
    background-image: linear-gradient(130deg, #66FF00, #4FFFB0);
    cursor: pointer;
}
.secondaryBtn{
    padding: 15px 20px;
    font-size: 20px;
    border: solid 2px #66FF00;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 20px 0px;
    cursor: pointer;
    margin-right: 10px;
}
.secondaryBtn:hover{
    background-image: linear-gradient(130deg, #66FF00, #4FFFB0);
    color: black;
}
#hero{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
#titleSec{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 70px;
}
#profileSec{
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box{
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 100%;
    margin: 50px 0px;
}
#profilePic{
    padding: 0;
    margin: 0;
    height: 390px;
    width: 390px;
    border-radius: 20px;
    z-index: 1;
}

.box::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 100%;
    background: #66FF00;
    animation: rotate 12s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}
#titleSec h1{
    font-size: 80px;
}

#titleSec h4{
    font-size: 20px;
    font-weight: 900;
}

#numbers{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberCard{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    font-size: 60px;
    color: #66FF00;
}
.desc{
    font-size: 20px;
}

@media (max-width: 1240px) {
    #hero{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        margin-top: 20px;
    }
    #titleSec{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }
    #profileSec{
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}
